<?xml version="1.0" encoding="UTF-8"?>
<Configuration universityStatusDTO="debug">
    <Properties>
        <Property name="filepath">C:/Program Files/Apache Software Foundation/Tomcat 9.0/logs/MentoringAERL_logs</Property>
        <Property name="errorFilePath">C:/Program Files/Apache Software Foundation/Tomcat 9.0/logs/MentoringAERL_error_logs</Property>
        <Property name="serviceInteractionsFilePath">C:/Program Files/Apache Software Foundation/Tomcat 9.0/logs/MentoringAERL_Service_Interactions_logs</Property>
        <Property name="pattern">%d{yyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}: %msg%n</Property>
    </Properties>

    <Appenders>
        <RollingFile name="File" fileName="${filepath}/app.log"
                      filePattern="${filepath}/%d{yyyy-MM-dd}-app.log"
                      append="true" >
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="ErrorFile" fileName="${errorFilePath}/error.log"
                     filePattern="${errorFilePath}/%d{yyyy-MM-dd}-%i-app.log"
                     append="true">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="ServiceInteractionsFile" fileName="${serviceInteractionsFilePath}/service-interactions.log"
                     filePattern="${serviceInteractionsFilePath}/%d{yyyy-MM-dd}-%i-app.log"
                     append="true">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="File" level="debug"/>
            <AppenderRef ref="ErrorFile" level="error"/>
        </Root>
        <Logger name="com.epam.aerl.mentoring.aspect" level="INFO">
            <AppenderRef ref="ServiceInteractionsFile" level="info"/>
        </Logger>
    </Loggers>
</Configuration>